<configuration>
	<connectionStrings>
		<add name="SQLiteConnection"
	 connectionString="Data Source=D:\SQL\SQLITE\testDb.db;"
	 providerName="Microsoft.Data.SQLite" />
	</connectionStrings>
</configuration>

<!--Schema-->
<!--CREATE TABLE Users (
Id    INTEGER  PRIMARY KEY AUTOINCREMENT,
Name  NVARCHAR (50) null,
LastName NVARCHAR(75) null,
Email NVARCHAR (128) not null,
BirthDay Text null
);-->